PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=NOMBRE_APP
DB_NAME=farmacia_online

FRONTEND_URL=http://localhost:5173

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_SEGURO

ADMIN_NAME=Administrador Farmacia
ADMIN_EMAIL=admin@farmacia.cl
ADMIN_PASSWORD=CAMBIAR_POR_PASSWORD_SEGURA